*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto";
  --principal-color: #04835fb2;
  --secundario-color: #44a080;
}

body {
  margin: 0;
  background-color: #e9c810;
}

h1 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

img {
  width: 3rem;
}

main h2 {
  padding: 35px;
}

form label {
  padding: 15px 0;
}

form input {
  border: 0;
  padding: 10px;
  width: 200px;
}

button {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--secundario-color);
  color: #fff;
  border: none;
  width: 100px;
  height: 50px;
}

.header-container {
  background-color: var(--principal-color);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  display: flex;
  padding: 35px;
}

.subheader {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--secundario-color);
  padding: 35px;
  color: #fff;
}

.form {
  padding: 35px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
